#sources
*.asm linguist-language=Assembly
*.a80 linguist-language=Assembly
*.C linguist-language=cpp
*.c linguist-language=cpp
*.h linguist-language=cpp
*.H linguist-language=cpp
*.cpp linguist-language=cpp
*.dfm linguist-language=cpp
src/lh5/* linguist-language=cpp
doc/* linguist-documentation
docs/* linguist-documentation
